
body {
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.Display {
    height: 50%;
    width: 60%;
    border: 1px solid black;
    margin: 0px auto;
}

.InputTable {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid black;
}

.TableInput {
    border: none;
    padding: 1px;
}
.TableInput:focus-visible {
    border: 1px solid black;
    padding: 0px;
    outline: none;
}